@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #090C9B;
    --secondary-color: #B4C5E4;
    --accent1-color: #3D52D5;
    --accent2-color: #3C3744;
    --font-color: #333;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

p {
    color: var(--font-color);
}

nav a {
    text-decoration: none;
    color: var(--font-color);
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    display: block;
    width: 100%;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
}

article {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(243, 237, 237, 0.314);
}

article img {
    float: right;
    height: 130px;
    width: 50px;
    object-fit: contain;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

nav.sociallinks a img {
    text-decoration: none;
    height: 30px;
}

section img {
    justify-content: center;
    width: 250px;
    height: 150px;
    object-fit: cover;
    flex: 1 0 auto;
}

nav {
    display: flex;
    justify-content: center;
}

header img {
    height: 50px;

}

section {
    display: flex;
    background-color: var(--secondary-color);
}

section h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}

section p {
    text-align: justify;
    max-width: 800px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav.sociallinks{
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

.contact-form{
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea
{
    border: 1px solid #6aacea;
    border-radius: 30px;
}
.submit_button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.submit_button:hover{
    background-color: green;
}

.company-info {
    padding: 10px;
    margin: 10px;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    background-color: #7f81f7;
}

.company-info .map-container iframe {
    border: none;
    align-self: start;
}
h1{
    text-align: center;
    position: relative;
    margin: 20px;

}