@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #090C9B;
    --secondary-color: #B4C5E4;
    --accent1-color: #3D52D5;
    --accent2-color: #3C3744;
    --font-color: #333;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

p {
    color: var(--font-color);
}

nav a {
    text-decoration: none;
    color: var(--font-color);
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    display: block;
    width: 100%;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
}

article {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(243, 237, 237, 0.314);
}

article img {
    float: right;
    height: 130px;
    width: 50px;
    object-fit: contain;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

nav.sociallinks a img {
    text-decoration: none;
    height: 30px;
}

section img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: center;
}

header img {
    height: 50px;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    text-align: justify;
    max-width: 800px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav.sociallinks{
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}
