* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
max-width: 840px; 
}   

aside {
width: 20rem;
margin: 1rem;
border: 1px solid rgba(0, 0, 0, 0.2);
padding: 1rem;
background-color: #eee;
color: #333;
text-align: center;
position: relative;

}

main img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px gray;
    float: right;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
aside {
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 13px;
    left: 150px;

}

header,footer {
    max-width: 840px;
    margin: 0 auto;
}
    

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    border-bottom: 1px solid steelblue;
}
header, grid, footer {
    max-width: 840px;
    margin: 0 auto;

}

.grid {
    display: grid;
    align-items: center;
  }
  
  main {
    grid-column: 2/3;
    margin: 1rem;
  }
  
  aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
  }